.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .project-container {
    margin: 50px;
    span {
      margin-left: 10px;
    } 
  }
  .time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e6e7ee;
    box-shadow: inset 5px 5px 10px #9a9b9f,
                  inset -5px -5px 10px #ffffff;
    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: #e6e7ee;
      box-shadow:  5px 5px 10px #b3b4ba,
                -5px -5px 10px #ffffff;
      &:hover {
        cursor: pointer;
        box-shadow: inset 5px 5px 10px #9a9b9f,
                   inset -5px -5px 10px #ffffff;
      }
      h1 {
        font-size: 50px;
        color: #31344bad;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
      }
    }
  }
  .button-group {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
    }
    .middle {
      margin:0 35px;
    }
  }
}