@import "../../index.scss";

.login-container {
  width: calc(100vw - 15px);
  height: 100vh;
  .left-col {
    padding: 0 !important;
    .login-left {
      background-color: white;
      height: 100vh;
      padding: 40% 15% 10% 15%;
      form {
        padding-top: 10%;
      }
      button {
        width: 100%;
        margin-top: 15px;
        .icon {
          margin-right: 5px;
        }
      }
      .link-to-signup {
        padding: 10% 15% 10% 20%;
        a {
          color: rgb(0, 161, 214);
        }
        .disabled-link {
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }
  .right-col {
    padding: 0 !important;
    height: 100vh;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}
