@import "../../index.scss";

.login-container {
  width: calc(100vw - 20px);
  .left-col {
    padding: 0 !important;
    .login-left{
      position: relative;
      background-color: white;
      height: 100vh;
      padding: 40% 15% 10% 15%;
      Form {
        padding-top: 10%;
      }
      button {
        width: 100%;
        // background-color: $primary-button-blue;
        .icon {
          margin-right: 5px;
        }
      }
      .link-to-signup{
        padding: 10% 15% 10% 20%;
      }
    }
  }
  .right-col {
    padding: 0 !important;
    .login-right {
        img {
              width: 100%;
              height: 100vh;
              object-fit: cover;
            }
        h2 {
          position: absolute;
          top: 90%;
          left: 40%;
        }
    }
  }
}
