@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');
@import "../../index.scss";

.navleft-container {
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  padding: 30px 20px;
  @media only screen and (max-width: 992px) { 
    padding: 30px 2px;
  }
  @media only screen and (max-width: 576px) { 
    padding: 20px 5px;
  }

  .navleft-user {
    text-align: center;
    img {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      @media only screen and (max-width: 576px) { 
        width: 40px;
        height: 40px; 
      }
    }
    p {
      margin-top: 10px;
      color: #323a46;
      font-weight: 700;
      font-size: .9rem;
      overflow: hidden;
    }
  }
  ul.navs {
    list-style-type: none;
    padding: 5px 0px;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    // font-size: .9rem;
    li {
      span {
        display: inline-block;
        width: 50px;
        text-align: center;
        @media only screen and (max-width: 768px) { 
          width: 100%;
        }
      }
      span.nav {
        text-align: left;
        @media only screen and (max-width: 768px) { 
          display: none; 
        }
      }
      margin: 18px 0px;
      a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }
      a.active {
        color: $primary-color;
      }
    }
    li:hover {
      color: $primary-color;
    }
  }
}
