@import "../../index.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');

.overview-container {
  background-color: $bg-color-light;

  .overview-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    span {
      background-color: $primary-color;
      color: white;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      border-radius: 20px;
      padding: 10px 20px;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
        p {
          display: inline-block;
        }
      }
    }
  }
  .panel {
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    padding: 20px;
    margin-top: 20px;
    .panel-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      span {
        background-color: $bg-color-green;
        color: $primary-green;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #eef2f7;
        border-radius: .25rem;
        text-align: center;
        padding: 7px;
      }
      span.blue {
        background-color: $bg-color-blue;
        color: $primary-blue;
      }
    }
  }
}
