@import "src/index.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');

.line-chart-container {
  margin: 50px auto;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 2px 2px 10px 0 rgba(32,33,36, 0.1);
}
