@import "src/index.scss";

.btn {
  border-radius: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e7ee;
  color: $font-color-primary;
  box-shadow:  3px 3px 5px #b3b4ba,
             -3px -3px 5px #ffffff;
  &:hover, &:focus {
    box-shadow: inset 2px 2px 4px #9a9b9f,
              inset -2px -2px 4px #ffffff;
  }
  &.btn-sm {
    width: 30px;
    height: 30px;
  }
  &.btn-lg {
    height: 50px;
  }
  &.btn-pill {
    border-radius: 50%;
    // height: 100%;
    // padding: 10px;
  }
  &.btn-with-border {
    border: .0625rem solid #5555551c;
  }
}