@import "../../../index.scss";

.createroom-container {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  img {
    width: 75%;
    z-index: 1001;
    margin: 25px auto;
  }
  .createroom-form {
    color: $primary-font-color;
    background-color: #eef2f7;
    padding: 12px;
    font-family: $primary-font;
    border-radius: .25rem;
    input {
      background-color: white;
      font-family: $primary-font;
      padding: 5px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-size: 14px;
    }
    span {
      margin-left: 10px;
      background-color: $bg-color-blue;
      color: $primary-blue;
      border-radius: 3px;
      // font-size: 20px;
      padding: 4px 7px;
    }
  }
}
