@import "../../index.scss";

.navbar-container {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

  .expand-icon {
    margin-right: 25px;
    font-size: 18px;
    @media only screen and (min-width: 768px) { 
      display: none;
    }
  }

  .navbar-brand {
    color: black;
    font-size: 22px;
    font-weight: 800;
  }

  .username {
    color: #6c757d;
    font-weight: 600;
    margin-right: 10px;
  }

  .dropdown {
    .dropdown-wrapper {
      cursor: pointer;
    }

    .dropdown-content {
      right:0;
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px;
    }

    .dropdown-content a {
      color: $primary-font-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
    }
    .dropdown-content a:hover {background-color: #f8f9fa;}
    .dropdown-content {display: block;}
    
    img {
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }
  }
  .dropdown:hover {display: block;}
}
