@import "src/index.scss";

.layout-container {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 10%;
    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    .icon {
      font-size: 20px;
      cursor: pointer;
      svg {
        font-size: 24px;
      }
    }
  }
}