@import "../../index.scss";

.signup-container {
  // width: calc(100vw - 20px);
  .left-col {
    padding: 0;
    .login-left {
      background-color: white;
      height: 100vh;
      padding: 20% 15% 10% 15%;
      form {
        padding-top: 10%;
      }
      button {
        width: 100%;
        margin-top: 15px;
        .icon {
          padding-right: 4px;
        }
      }
      .link-to-login {
        padding: 10% 15% 10% 20%;
        a {
          color: rgb(0, 161, 214);
        }
      }
    }
  }
  .right-col {
    padding: 0px;
    .login-right {
      background-color: yellow;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}
