@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');

// $primary-color: rgba(254,112,95,.75);
// $primary-green: rgb(0,196,112);
// $primary-blue: rgb(73,111,234);
// $primary-yellow: rgb(245, 210, 140);
// $primary-pink: rgb(250, 160, 177);
//
// $bg-color-primary: rgba(242, 133, 137,.15);
// $bg-color-light: rgba(247,249,252,.9);
// $bg-color-green: rgba(16,196,105,.25);
// $bg-color-blue: rgba(83,109,230,.25);
// $bg-color-yellow: #fef5e4;
// $bg-color-blue-primary: rgba(83,109,230,.6);
// $bg-color-grey:rgb(245, 245, 245);
//
// $primary-font: 'Nunito', sans-serif;
// $primary-font-color: #6c757d;

$primary-color: rgb(240, 122, 126);
$primary-green: rgb(157, 209, 164);
$primary-blue: rgb(155, 195, 250);
$primary-yellow: rgb(245, 210, 140);
$primary-pink: rgb(250, 160, 177);

$bg-color-light: rgba(247,249,252,.9);
$bg-color-green: rgba(157, 209, 164,.25);
$bg-color-blue: rgba(155, 195, 250,.25);
$bg-color-yellow: rgba(244, 216, 161,.25);
$bg-color-primary: rgba(242, 133, 137,.15);
$bg-color-grey:rgb(245, 245, 245);

$primary-font: 'Nunito', sans-serif;
$primary-font-color: rgb(92, 87, 89);

$primary-button-blue:rgb(64, 133, 230);
$primary-button-red:rgb(240, 122, 126);
$primary-button-green:rgb(54, 125, 93);

body,
html,
div#root,
#root,
h1
{
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  color: #6c757d;
  font-family: 'Nunito', sans-serif;
}
h3 {
  font-size: 19px;
  font-weight: 700;
  color: #6c757d;
  font-family: 'Nunito', sans-serif;
}
h5 {
  font-size: 15px;
  color: #98a6ad;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

body {
  background-color: $bg-color-light;
  font-family: 'Nunito', sans-serif;
}

button:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}

.btn-secondary {
  background-color: $primary-blue;
}
.btn-success {
  background-color: $primary-green;
}

.alert-success {
  padding: 14px 20px 0px 20px;
}

//modal
.modal-content{
  .modal-header {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
  }
  button {
    background-color:  $primary-color;
    border: none;
  }
  #modalButton:hover {
    box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
    background-color:  $primary-color;
  }
}
