@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');

$primary-color: rgba(254,112,95,.75);
$primary-green: rgb(0,196,112);
$primary-blue: rgb(73,111,234);
$bg-color-light: rgba(247,249,252,.9);
$bg-color-green: rgba(16,196,105,.25);
$bg-color-blue: rgba(83,109,230,.25);
$bg-color-yellow: #fef5e4;
$bg-color-blue-primary: rgba(83,109,230,.6);

$primary-font: 'Nunito', sans-serif;
$primary-font-color: #6c757d;

body,
html,
div#root,
h1
{
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #6c757d;
  font-family: 'Nunito', sans-serif;
}
h3 {
  font-size: 19px;
  font-weight: 700;
  color: #6c757d;
  font-family: 'Nunito', sans-serif;
}
h5 {
  font-size: 15px;
  color: #98a6ad;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

body {
  background-color: $bg-color-light;
  font-family: 'Nunito', sans-serif;
}

.btn-secondary {
  background-color: $primary-blue;
}
.btn-success {
  background-color: $primary-green;
}
