@import "../../../../index.scss";

.inroom-container {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  img {
    width: 80%;
    z-index: 1001;
    margin: 25px auto;
  }
  button {
    color: white;
    background: $primary-green;
    border: none;
    border-radius: 40px;
    padding: 7px 40px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  button:hover {
    background: $primary-green;
  }
}
