@import "../../../index.scss";

.pomodoro-container {
  // background-color:yellow;
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .option {
      margin: 1px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .time {
        font-size: 34px;
        font-weight: 700;
        color: #98a6ad;
        font-family: 'Nunito', sans-serif;
        cursor: pointer;
      }
      .time.active {
        color: #333;
      }
      .icon {
        margin-top: -10px;
        margin-left: 6px;
        font-size: 16px;
        visibility: hidden;
      }
      .icon.show {
        visibility: visible;
      }
    }
  }
  .circular-container {
    // width: 500px;
    width:  100%;
    // background-color: red;
    margin-top: 30px;
    margin-bottom: 30px;
    // margin-left: 18%;
    display: flex;
    justify-content: center;
    button {
      border: none;
      font-size: 14.4px;
      span {
        margin-right: 5px;
      }
    }
    #leave {
      background-color: #FF5B5B;
      margin-right: 10px;
    }
    #commit {
      background-color: $primary-green;
    }
    #count {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      color: #6c757d;
      font-weight: 600;
      margin-top: 100px;
      margin-bottom: 400px;
    }
    .CircularProgressbar {
      width: 160px;
      height: 160px;
    }
    .control {
      color: $primary-color;
      font-size: 30px;
      position: relative;
      // background-color: red;
      margin-top: 30%;
      left: -28%;
      cursor: pointer;
      @media only screen and (max-width: 1200px) { 
        margin-top: 38%;
        left: -35%;
      }
      @media only screen and (max-width: 992px) { 
        margin-top: 52%;
        left: -48%;
      }
      @media only screen and (max-width: 768px) { 
        margin-top: 20%;
        left: -19%;
      }
      @media only screen and (max-width: 576px) { 
        margin-top: 100px;
        left: -90px;
      }
    }
  }
}
