@import "../../index.scss";
@import "../../../node_modules/react-input-range/lib/css/index.css";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Limelight&display=swap');

.solo-container {
  .content {
    margin: 0 auto;
    width: 100%;
    padding: 50px 30px;

    .solo-header {
      margin-bottom: 30px;
    }
    .timer-container {
      border-radius: 40px;
      box-shadow: 2px 2px 10px 0 rgba(32,33,36, 0.1);
      width: 100%;
      height: 500px;
      background-color: white;
      max-width: 800px;
      padding: 30px 10%;
      margin: 0 auto;

      .input-range {
        margin-top: 20px;
        h4 {
          font-size: 15px;
          font-weight: 700;
          color: #6c757d;
          font-family: 'Nunito', sans-serif;
          text-align: right;
          margin-bottom: 30px;
        }
        .input-range__slider {
          appearance: none;
          background: $primary-color;
          border: 1px solid $primary-color;
        }
        .input-range__track .input-range__track--active {
          background: $primary-color;
        }
      }

      .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        padding: 50px 0;
        font-size: 80px;
        // font-weight: 600;
        color: $primary-color;
        // color: black;
        // font-family: 'Press Start 2P', cursive, sans-serif;
        // font-family: 'Londrina Sketch', cursive, sans-serif; no
        // font-family: 'Bungee Outline', cursive, sans-serif; no
        // font-family: 'Kumar One Outline', cursive, sans-serif; no 
        // font-family: 'Plaster', cursive, sans-serif; no 
        // font-family: 'Monofett', cursive, sans-serif; no 
        // font-family: 'Limelight', cursive, sans-serif; no 
        // font-family: 'Wallpoet', cursive, sans-serif;
        // font-family: 'Pacifico', cursive, sans-serif;
        // font-family: 'Orbitron', cursive, sans-serif;
        font-family: 'Archivo Black', cursive, sans-serif;
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        span {
          font-size: 36px;
          cursor: pointer;
          margin-left: 10px;
          color: $primary-color;
        }
      }
    }
  }
}

